<div class="nav-container">
    <div class="logo">
        <p>Abin</p>
    </div>

    <div class="actions">
        <div class="each-action">
            <p>Home</p>
        </div>


        <div class="each-action">
            <p>About</p>
        </div>

        <div class="each-action">
            <p>Education</p>
        </div>

        <div class="each-action">
            <p>Experience</p>
        </div>

        <div class="each-action">
            <p>Projects</p>
        </div>

        <div class="each-action">
            <p>Contact</p>
        </div>

        <div class="day-night">
            <app-toggle-theme></app-toggle-theme>
        </div>
    </div>
</div>